always-auth=true
registry=https://appfolio.jfrog.io/artifactory/api/npm/appfolio-alexander_graham_bell-npm/
//appfolio.jfrog.io/artifactory/api/npm/appfolio-alexander_graham_bell-npm/:_authToken=${JFROG_ACCESS_TOKEN}
